.sidebar {
	flex: 0.3;
	border-right: 1px solid lightgray;
	display: flex;
	flex-direction: column;
}

.sidebar__search {
	display: grid;
	width: 100%;
	place-items: center;
	background-color: rgb(246, 246, 246);
	height: 70px;
}
.sidebar__searchContainer {
	display: flex;
	background-color: white;
	width: 80%;
	padding: 10px;
	border-radius: 20px;
}
.sidebar__searchContainer > .searchIcon {
	color: grey;
	margin-right: 10px;
}
.sidebar__searchContainer > input {
	border: none;
	width: 100%;
}
.sidebar__searchContainer > input::placeholder {
	color: grey;
	font-size: 14px;
	font-weight: 400;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar__searchContainer > input:focus {
	outline: none;
}
.sidebar__rooms {
	background-color: white;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: scroll;
	border-bottom-left-radius: 20px;
}
.sidebar__rooms::-webkit-scrollbar {
	width: 7px;
	background-color: white;
}
.sidebar__rooms::-webkit-scrollbar-thumb {
	background-color: rgba(169, 169, 169, 0.8);
}
